{% load static %}
<nav class="navbar navbar-expand-lg" id="mainNavbar">
  <div class="container-fluid px-4">
    <a class="navbar-brand" href="index.html#home" target="_parent">
      <i class="fas fa-leaf"></i>Leaf Cycles
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="index.html#home" target="_parent">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#services" target="_parent">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#about" target="_parent">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#products" target="_parent">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="index.html#contact" target="_parent">Contact</a>
        </li>
      </ul>
      <div class="navbar-search">
        <form class="search-container" action="index.html#products" method="get" target="_parent">
          <input type="text" class="search-input" placeholder="Search sustainable products..." name="search">
          <button class="search-btn" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>
